@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Advent+Pro:wght@100&family=Anton&family=Antonio:wght@100&family=Arimo&family=Barlow+Condensed:wght@200&family=Bebas+Neue&family=Changa+One&family=Karla:wght@200&family=Mukta:wght@200&family=Staatliches&family=Ubuntu+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}
body #barra {
  background-color: rgb(138, 101, 21);
}
body #barra a:hover {
  color: black;
}
body #barra .navbar-brand {
  text-transform: uppercase;
  font-family: "Staatliches", cursive;
}
body #barra #collapsibleNavbar {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: bold;
}
body main {
  min-height: 600px;
  width: auto;
}
body main h1 {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  padding: 30px;
  animation-name: titulo;
  animation-delay: 1s;
  animation-duration: 3s;
}
@keyframes titulo {
  50% {
    transform: translateX(300px);
  }
  90% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}
body main .galeria {
  width: auto;
  min-height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
  grid-gap: 15px;
  padding: 35px;
}
body main .galeria .item {
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  transition: 0.5s;
}
body main .galeria .item:hover {
  filter: none;
  transition: 0.5s;
  transform: scale(1.05);
}
body main .galeria .item1 {
  background-image: url(media/engin-akyurt-g-m8EDc4X6Q-unsplash.jpg);
  grid-column: 1/2;
  grid-row: 1/3;
}
body main .galeria .item2 {
  background-image: url(media/kelsey-curtis-kD9qprR6HBI-unsplash.jpg);
  grid-column: 2/3;
  grid-row: 1/2;
}
body main .galeria .item3 {
  background-image: url(media/kimia-zarifi-x4J_92kJBoY-unsplash.jpg);
  grid-column: 3/4;
  grid-row: 1/2;
}
body main .galeria .item4 {
  background-image: url(media/maddi-bazzocco-UKGGgWb6_0g-unsplash.jpg);
  grid-column: 2/4;
  grid-row: 2/3;
}
body main .galeria .item5 {
  background-image: url(media/raphael-lovaski-Pe9IXUuC6QU-unsplash.jpg);
  grid-column: 1/3;
  grid-row: 3/4;
}
body main .galeria .item6 {
  background-image: url(media/viva-luna-studios-hYpHkpQG5ms-unsplash.jpg);
  grid-column: 3/4;
  grid-row: 3/4;
}
body .cuerpo h3 {
  text-align: left;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(116, 28, 28);
  margin-bottom: 15px;
}
body .cuerpo .apartado {
  margin-top: 20px;
}
body .cuerpo .apartado p {
  padding: 20px;
}
body .cuerpo .enlace {
  text-align: center;
  padding: 20px;
}
body .cuerpo .enlace p {
  font-weight: bold;
}
body .cuerpo .enlace aside {
  font-size: 14px;
}
body .cuerpo .enlace p,
body .cuerpo .enlace aside {
  text-transform: uppercase;
}
body .cuerpo .enlace .btn-grad {
  background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
  margin: 4px;
  padding: 7px 7px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
}
body .cuerpo .enlace .btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
body .cajas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .cajas .card {
  margin: 40px;
}
body .cajas .card a {
  background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
  margin: 4px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
}
body .cajas .card a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
body .encontranos {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 18px;
}
body .encontranos .mapa {
  margin: 20px;
  line-height: 50%;
}
body .formulario {
  padding: 25px;
}
body .formulario .boton {
  text-align: center;
}
body .formulario .boton .btn {
  background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
  margin: 4px;
  padding: 10px 10px;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 14px;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
}
body .formulario .boton .btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

footer {
  height: auto;
  width: auto;
  background-color: rgb(138, 101, 21);
  text-align: center;
  padding: 17px;
}
footer .logopie {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Staatliches", cursive;
  color: white;
}
footer .logopie a {
  color: white;
  text-decoration: none;
}
footer .logopie a:hover {
  color: black;
}
footer .redes {
  font-size: 24px;
  letter-spacing: 5px;
}
footer .redes a {
  color: white;
}
footer .redes a:hover {
  color: black;
}
footer p {
  margin-top: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  color: white;
}

@media (max-width: 700px) {
  .galeria .item1 {
    background-image: url(media/engin-akyurt-g-m8EDc4X6Q-unsplash.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .galeria .item2 {
    background-image: url(media/kelsey-curtis-kD9qprR6HBI-unsplash.jpg);
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .galeria .item3 {
    background-image: url(media/kimia-zarifi-x4J_92kJBoY-unsplash.jpg);
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .galeria .item4 {
    background-image: url(media/maddi-bazzocco-UKGGgWb6_0g-unsplash.jpg);
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .galeria .item5 {
    background-image: url(media/raphael-lovaski-Pe9IXUuC6QU-unsplash.jpg);
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .galeria .item6 {
    background-image: url(media/viva-luna-studios-hYpHkpQG5ms-unsplash.jpg);
    grid-column: 3/4;
    grid-row: 4/5;
  }
}/*# sourceMappingURL=estilos.css.map */